html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.faculty-input {
  border: 1px solid #999;
  padding: 0.5rem;
  height: 30px;
  width: 225px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #38a169;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.tableBorder Thead {
  text-align: center;
  margin-left: 5em;
  border: 2px solid rgb(141, 141, 141);
}

.tableBorder Th {
  border: 2px solid rgb(72, 145, 76);
}

.tableBorder Td {
  border: 2px solid rgb(131, 145, 142);
}

.outcomeSelect Box {
  border: 2px solid rgb(72, 145, 76);
}
